html{
  font-size: 62.5%;
}

body, html {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f5cebd;

}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

header{
    position: sticky;
    top: 0;
    background-color: rgba(40, 42, 43, 0.7);
    height:4rem;
}


li, a, button{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 1.6rem;
    color: #edf0f1;
    text-decoration: none;
}

header{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 1rem 5rem;
    background-color: none;
    margin-right: 0;

}

.logo{
    cursor: pointer;
    margin-right: auto;
}

.nav__links{
    list-style: none;
}

.nav__links li{
    display: inline-block;  
}

.nav__links li a{
    font-size: 1.8rem;
    color: #edf0f1;
    text-decoration: none;
    transition: all 0.3s ease 0s;
    padding: 0 2rem;
}


.nav__links li a:hover{
    color:#DECBA4;
}



.circular-frame {
    width: 45rem; 
    height: 45rem;
    border-radius: 50%; 
    overflow: hidden;
    float: left; 
    margin-right: 2rem; 
    /* margin-left: 100px; */
    margin-top: 10rem;
    border: .5rem solid #0088a9;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3); 
    animation: shadows 5s infinite;
}

@keyframes shadows {
    0% { box-shadow: #48abe0 0 0 15rem; }
    50% { box-shadow: blueviolet 0 0 15rem; }
    75% { box-shadow: rebeccapurple 0 0 15rem;}
    100% { box-shadow: #48abe0 0 0 15rem; }
}


.circular-frame img {
    width: 100%; 
    height: 100%;
    object-fit: cover; 
}


.content{
    display: flex;
    margin-left: 20rem;
}

.text{
    margin:15rem 1rem 1rem 6rem;
}

.text h1{
    font-size: 6rem;
    padding: 0rem;
    text-align: center;
    margin: 0rem;
    margin-top: -6rem;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.text h2{
    font-size: 3rem;
}

.text p{
    font-size: 3rem;
}



.name {
    overflow: hidden;
    white-space: nowrap;
    width: 0;
    animation: type 3s steps(60) infinite ;
    text-shadow: 0 0 1rem #DECBA4, 0 0 2rem #DECBA4, 0 0 3rem #DECBA4;
    
}

@keyframes type {
    100% {
        width: 100%;
    }
}

#about {
    padding: 2rem 2rem 2rem 2rem;
    margin: 10rem auto auto auto;
    /* justify-content: center;
    align-items: center; */
    width: 60%;
    border-radius: 1rem;
    background-color: #3E5151;
    color: #DECBA4;
    outline: .8rem solid #3E5151;
    border: .4rem solid #DECBA4;
}

.about-content{
    justify-content: center;
    align-items: center;
    display:block;
    margin: 2rem;
}

#about h1{
    text-align: center;
    font-size: 4rem;
}
#about p{
    font-size: 3rem;
    text-align: center;

}

#projects{
    justify-content: center;
    display:flex;
    flex-direction: column;
    align-items: center;
}



#projects .box{
    font-size: 2.5rem;
    margin-top: 15rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: .3rem solid #282a2b;
    border-radius: 1.5rem;
    background: radial-gradient(circle at center, #86a4b1, #2C5364);

    width:35rem;
    height:10rem;
}



.projects-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 5rem;
    margin:10rem auto auto auto;
    justify-content: center;
  }
  
  .project-card {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 1.5rem;
    font-size: 3rem;
    padding: 0rem;
    padding-top: 0rem;
    box-shadow: 0rem 0rem 3rem rgb(255, 255, 255);
    transition: all 0.3s ease;
    width: 40rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .project-card img {
    width: 80%; 
    height: auto; 
    max-height: 100%;
  }

  .project-card h3{
    text-align: center;
    padding: 1.5rem;
    margin:0;
    color:white;
  }

  .project-card p{
    font-size: 2rem;
    color:#edf0f1;
  }
  
  .project-card:hover {
    transform: scale(1.05);
    box-shadow: 0rem 0rem 2rem rgba(0, 0, 0, 0.2);
  }
  
  .hover-info {
    display: none;
  }
  
  .project-card:hover .hover-info {
    display: block;
    padding: 1rem;
    background-color: #f5f5f5;
    color:#13232a;
    text-align: center;
    border-radius: 1.5rem;
  }

  .hover-info p{
    color:#13232a;

  }

  .hover-info a{
    color: white;
    font-size: large;
  }

  .view{
    background-color: #13232a;
    color: white;
    border-radius: 1rem;
    padding: 1rem;
  }
  
  .hover-info .view:hover{
    background-color:#3E5151;
  }



  #contact {
    padding: 4rem;
    background-color: #222;
    color: #fff;
    text-align: center;
    margin-top: 15rem;
  }
  
  #contact h2 {
    font-size: 4rem;
    margin-bottom: 10rem;
    color: #DECBA4;
  }
  

  
  #contact .contact-details {
    list-style: none;
    padding: 0;
    margin-bottom: 8rem;
  }
  
  #contact .contact-details li {
    display: inline-block;
    margin: 0 2rem 2rem 7rem;
  }
  
  #contact .contact-details li a {
    color: inherit;
    text-decoration: none;
    font-size: 2.4rem;
    display: flex;
    align-items: center;
  }
  
  #contact .contact-details li a i {
    margin-right: 1rem;
    font-size: 2.8rem;
    color: #acacac;
  }
  
  #contact .contact-details li a span {
    font-weight: bold;
    color: #c5b189;
  }
  
 .contact-details li a:hover {
    color: #fcfcfc;
  }



  .header {
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    padding-bottom: 1rem;
    color:white;
  }

  #aboutme{
    font-size: 2rem;
    color:white;
  }

  .about-heading{
    text-align: center;
    font-size: 4rem;
    text-decoration: underline;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    margin:30px;
    color:white;
  }
  .description {
    padding: 0;
    margin: 0rem;
    list-style: none;
    font-size: 2.5rem;
    display:flex;
    justify-content: center;
    flex-direction: column;
    justify-items: center;
    color:white;
  }
  .description li {
    padding: .5rem 0;
    font-size: 2rem;
    list-style-type: disc;
    margin-left:50px;
  }

  .description h3{
    margin-left:5rem;
  }

  hr{
    margin:5rem;
  }



@media(max-width:600px){

  html{
    padding: 0;
    margin:0;
  }

  body{
    background-color: #f5cebd;
    background-repeat: no-repeat;
    width: 100%;
  }

  .nav__links{
    display:flex;
    text-align: left;
    gap:0;
  }

  .nav__links li a{
    font-size: 2.2rem;
    padding:1rem;
  }

  header{
    width:100%;
    height:7rem;
    padding:.3rem;
  }

  #about{
    width:85%;
    height:fit-content;
    width:fit-content;
    font-size: 80%;
    display: flex;
    overflow: hidden;
    background-color: rgba(32, 178, 170, 0.4);
    color:#13232a;
  }

  #aboutme{
    margin:0;

  }

  .about-content{
    font-size:10%;
    display: flex;
    flex-direction: column;
    max-width: 95%;
    color:#13232a;
    margin:0;
    
  }

  .description{
    margin:0;
    color:#13232a;
  }

  .description li{
    margin:0;
    color:#13232a;
  }

  .about-heading{
    margin:0;
    color:#13232a;
  }

  hr{
    margin:3rem;
    color:#13232a;
  }

  #aboutme{
    color:#13232a;
    font-size: 10px;
    margin:0;
    
  }
  .header{
    color:#13232a;
  }

  .content{
    display:flex;
    flex-wrap: wrap;
    width:100%;
    margin:0;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }

  .circular-frame{
    width:30rem;
    height:30rem;
    margin-bottom: 0;
  }

  .text{
    width:80%;
    height:30%;
    margin:0;
    padding:0;
  }

  .text h1{
    font-size: 3.5rem;
    margin-top: -40px;
  }

  .box h1{
    font-size: 4rem;
    padding: 0%;
    margin:0;

  }

  .box{
    padding:0px;
  }

  .projects-grid{
    margin-left:20px;
    margin-right: 20px;
    max-width: 90%;
    
  }

  ul.contact-details span{
    font-size: 20px;
  }


  .contact-details ul li a{
    padding:0px;
    margin-left:-90px;
    padding-inline-start: 0px;
  }

  .contact-details a{
    margin-left:-80px;
  }

  #contact{
    width:81%;
  }




}

